* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
	width: 100%;
	height: 100%;
}
ul{
	list-style: none;
	display: flex;
}

nav>ul>li{
	padding: 2vw;
}

a{
	color: #FFFFFF;
	font-size: 16px;
	width: 500;
	text-decoration: none;
}
/*Pone underline el link de la página actual*/
#under{
	text-decoration: underline;
}
header{
	position:sticky;
    background-color:#306BB3;
	width: 100%;
	height: 2.5%;
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.6% 4.1%;
}

.divhe{
	width: 70%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav{
	display: flex;
	justify-content: space-between;
	width: 60%;
	row-gap: 30px;
	flex-wrap: wrap;
	align-items: center;
}

button{
	height: 38px;
	width: 82px;
	border-radius: 4px;
	border: none;
}

button>a{
	color: #306BB3;
	font-size: 14px;
	font-weight: 500;
}

button:hover{
	cursor: pointer;
	color: #306BB3;
}


section{
	width: 100%;
	height: 860px;
	display: flex;
	text-align: center;	
	justify-content: space-around;
	flex-wrap: wrap;
}
#sectitle{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 25%;
	align-items: center;
	justify-content: center;
}

.p1{
	color: #486284;
	text-align: center;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: -0.96px;
}

.p2{
	color:#1A202C;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.ashleave{
    max-width: 565px;
    height: 528px;
}
.ourash{
	display: flex;
	width: 669px;
	height: 528px;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	flex-shrink: 0;
    color:#1A202C;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
article{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


section>img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

/*Fotter*/

footer{
	height: 383px;
	margin: auto;
    background-color:#306BB3;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.log{
	margin: 60px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
}

.div_foot{
	display: flex;
	flex-wrap: wrap;
	height: 383px;
	width: 60%;
	align-content: center;
	justify-content: space-evenly;
}
.div_foot>ul{
	display: inline;
	height: 244px;
	width: 152px;
	
}
.div_foot>ul>li{
	margin: 10%;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: -0.32px;
}
.social{
	display: flex;
	width: 60%;
	justify-content: space-around;

}
a>i{
	color: #000000;
	text-align: center;
	padding-top:22%;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #FFFFFF;
}

li>p{
	font-size: 20px;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: -0.4px;
}
