* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.dark{
	background-color: #1A202C;
	color: #FFF;
}

#light .dark{
	color: #FFFFFF;
	
}
body{
	width: 100%;
	height: 100%;
}
ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
li>a:hover{
	color:#000000;
}

nav>ul>li{
	padding: 2vw;
}

a{
	color: #FFFFFF;
	font-size: 16px;
	width: 500;
	text-decoration: none;
}
#under{
	text-decoration: underline;
}

header{
	position:sticky;
    background-color:#306BB3;
	width: 100%;
	height: 2.5%;
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.6% 4.1%;
}

header.div{
	display: flex;
	flex-wrap:wrap;
}

.divhe{
	width: 70%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

nav{
	display: flex;
	justify-content: space-between;
	width: 60%;
	row-gap: 30px;
	flex-wrap: wrap;
	align-items: center;
}

body>header>div>nav>.btndm{
	height: 38px;
	width: 82px;
	border-radius: 4px;
	border: none;
	background-color: #FFF;
	color: inherit;
	cursor: pointer;
}
body.dark>header>div>nav>.btndm{
	height: 38px;
	width: 82px;
	border-radius: 4px;
	border: none;
	background-color: #1A202C;
	color: inherit;
}
.btndm:hover{
	transform: scale(1.03);
	flex-shrink: 0;
	background-color: #e3e3f1;
}

section{
	width: 100%;
	min-height: fit-content;
	padding: 5.7% 4% 4%;
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.p1{
	color: inherit;
	font-weight: 500;

}

.p2{
	margin-bottom: 5%;
	font-weight: 500;
	font-size: 16px;
	opacity: 45%;
}

h1{
	margin: 5% 0 5% 0;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 800;
}

article{
	margin:  5% 5% 5% 0;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
}

.links{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.links>a:hover{
	color:#5e5f62;
	transform: scale(1.03);
	display: flex;
	justify-content: center;
	border:solid #1A202C;
	border-width: 1px;
	background-color: #e3e3f1;
}
.links>a{
	font-size: 16px;
	font-weight: 600;
	display: flex;
	width: 160px;
	height: 48.385px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	color: #1A202C;
	border-radius: 4px;
	background: #FFF;
}

#ash1{
	
	object-fit: cover;
	object-position: bottom;
	border-radius: 100px 0px 0px 0px;
}

/*Footer*/
footer{
	position:sticky;
	height: 30%;
    background-color:#306BB3;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.log{
	margin-left: 4%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
.p3{
	margin:10% 0 10% 0 ;
}

.div_foot{
	display: flex;
	flex-wrap: wrap;
	height: 383px;
	width: 60%;
	align-content: center;
	justify-content: space-evenly;
}
.div_foot>ul{
	display: inline;
	height: 244px;
	width: 152px;
	
}
.div_foot>ul>li{
	display: flex;
	margin: 10%;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: -0.32px;
}
.social{
	display: flex;
	width: 60%;
	justify-content: space-around;

}
a>i{
	color: #000000;
	text-align: center;
	padding-top:22%;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #FFFFFF;
}

li>p{
	font-size: 20px;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: -0.5px;
}