* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/*Dark mode*/
.dark{
	background-color: #1A202C;
	transition: 0.5s;
	color: #FFF;
}


ul{
	list-style: none;
	display: flex;
}

nav>ul>li{
	padding: 2vw;
}
/*Pone color negro al pasar sobre los links*/
li>a:hover{
	color:#000000;
}

a{
	color: #FFFFFF;
	font-size: 16px;
	width: 500;
	text-decoration: none;
}
/*Subraya la página actual*/
#under{
	text-decoration: underline;
}

header{
	
    background-color:#306BB3;
	width: 100%;
	height: 2.5%;
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.6% 4.1%;
}

.divhe{
	width: 70%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav{
	display: flex;
	justify-content: space-between;
	width: 60%;
	row-gap: 30px;
	flex-wrap: wrap;
	align-items: center;
}

body>header>div>nav>.btndm{
	height: 38px;
	width: 82px;
	border-radius: 4px;
	border: none;
	background-color: #FFF;
	color: inherit;
}
body.dark>header>div>nav>.btndm{
	height: 38px;
	width: 82px;
	border-radius: 4px;
	border: none;
	background-color: #1A202C;
	color: inherit;
}
/* Hasta aquí llega el header*/
section{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
.divmax{
	max-width: 1440px;
}
.titulo>h1{
	font-weight: 500;
	font-size: 48px;
	letter-spacing: -2px;
	color: #486284 ;
}
.titulo>h1.color{
	color: #ffffff ;
}
.titulo>h2{
	font-weight: 400;
	font-size: 18px;
	margin: 5%;
	text-align: center;
	color: inherit;
}
/*Inicia barra de busqueda por tipos*/
.types>ul>li.dark .active {
	border-bottom: inherit;
	border-bottom-style: solid;
	border-width: 5px;
}
.titulo{
	padding-top: 4%;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap:wrap;
}
.types>ul>li{
	text-align: center;
	padding: 35px;
	width: 25%;
	border-bottom: #a9afb8;
	border-bottom-style: solid;
	border-width: 3px;
}
.types>ul>li.active{
	border-bottom: inherit;
	border-bottom-style: solid;
	border-width: 5px;
}
.types>ul>li>a{
	color: inherit;
	font-weight: 500;
	font-size: 22px;
}
.types>ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 30px;
}

/*Termina barra de busqueda por tipos*/


/*Modifica parametros de la carta*/
.container-card{
	align-content: center;
	display: flex;
	width: 95%;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}

.pokemon-block{
	margin: 0 24px;
	margin-bottom: 48px;
	border-radius: 10px;
	border:solid;
	border-width: 2px;
	border-color: #f3eded;
	display:flex;
	background: #DEE5ED;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 304px;
	height: 388px;
	color: #000000;
}
.ttldiv{
	margin: 3%;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}
.name{
	margin-left: 15px;
	height: 24px;
	width: 70%;
	font-size: 20px;
	text-transform:capitalize;
	font-weight: bold;
	text-align: left;
	justify-content: left;
}
.heart{
	margin-right: 15px;
	width: 24px;
	height: 24px;
	text-align: center;
	background-image: url(/root/assets/heart.svg);
}

.exp{
	font-size: 20px;
	text-transform:capitalize;
	font-weight: bold;
	width: 25%;
	text-align: left;
}

.img-div{
	display: flex;
	text-align: center;
	align-content: center;
	width: 254px;
	height: 241px;
	border-radius: 10px;
    background: #ffffff;
}
.imagen{
	text-align: center;
	margin: auto;
	width: 184px;
	height: 208px;
}
.cardftt{
	display: flex;
	width: 80%;
	height: 45px;
	align-items: center;
	justify-content:space-between;
}

.buy{
	display: flex;
	width: 116px;
	height: 44px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 4px;
	background: #306BB3;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: -0.32px;
}

/*Botones mas cartas*/
.morecards{
	width: 51%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 180px;
	text-align: end;
	margin-left: 44%;
}
.morecards>button{
	width: 156px;
	height: 46px;
	border-radius: 4px;
	background: #306BB3;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: -0.32px;
}
.morec{
	display: flex;
	width: 140px;
	height: 24px;
	flex-direction: column;
	justify-content: center;
	color: #306BB3;
	text-align: right;
	font-size: 14px;
	font-family: Plus Jakarta Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: -0.28px;
}
/* Aquí inicia el footer*/

footer{
	height: 383px;
	margin: auto;
    background-color:#306BB3;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.log{
	margin: 60px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
}

.div_foot{
	display: flex;
	flex-wrap: wrap;
	height: 383px;
	width: 60%;
	align-content: center;
	justify-content: space-evenly;
}
.div_foot>ul{
	display: inline;
	height: 244px;
	width: 152px;
	
}
.div_foot>ul>li{
	margin: 10%;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: -0.32px;
}
.social{
	display: flex;
	width: 60%;
	justify-content: space-around;

}
a>i{
	color: #000000;
	text-align: center;
	padding-top:23%;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #FFFFFF;
}


li>p{
	font-size: 20px;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: -0.4px;
}
